/* HABILIDADES */

.habilidades .container-habilidades {    
    text-align: center;    
    display: flex;
    justify-content: center;    
    flex-direction: row;
    flex-wrap: wrap;
}

.habilidades .container-habilidades .informacoes{
    max-width: 350px;
    padding: 40px 20px;    
}

.habilidades .container-habilidades .informacoes p,
.habilidades .container-habilidades .informacoes h3,
.habilidades .container-habilidades .informacoes{
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.habilidades .container-habilidades .informacoes h3 {
    font-size: var(--fonte-extra-grande);
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--cor-branca);      
}

.habilidades .container-habilidades .informacoes p {
    font-size: 2rem;
    font-family: var(--fonte-secundaria);
    text-align: justify;
}